@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}
h1 {
  color: #333333;
}
body {
  min-height: 100vh;
  background: #f1f3f5;
  color: white;
  background-image: url("../images/cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
